{% extends "master.html" %}
{% load static %}
{% block content %}
{% comment %} background image section {% endcomment %}
<section class="bg-img">
  <div class="ctn">
    <div class="bg-img-ctn">
      <div class="bg-img-1-ctn">
        <div class="bg-img-1">
          <a class="bg-img-link" href="article/{{ latest_id.0 }}">
            <img src="{{ latest_image.0 }}" alt="">
            <h2 class="latest-heading">{{ latest_heading.0 }}</h2>
          </a>
        </div>
      </div>
      <div class="bg-img-2-4-ctn">
        <div>
          <div class="bg-img-2">
            <a class="bg-img-link" href="article/{{ latest_id.1 }}">
              <img src="{{ latest_image.1 }}" alt="">
              <h2 class="latest-heading">{{ latest_heading.1 }}</h2>
            </a>
          </div>
          <div class="bg-img-3">
            <a class="bg-img-link" href="article/{{ latest_id.2 }}">
              <img src="{{ latest_image.2 }}" alt="">
              <h2 class="latest-heading">{{ latest_heading.2 }}</h2>
            </a>
          </div>
          <div class="bg-img-4">
            <a class="bg-img-link" href="article/{{ latest_id.3 }}">
              <img src="{{ latest_image.3 }}" alt="">
              <h2 class="latest-heading">{{ latest_heading.3 }}</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} category section {% endcomment %}
<section class="category-section">
  <div class="category-section-ctn">
    <div class="category-main-ctn">
      <div>
        <div class="category-nav-ctn">
          <h3>Article</h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="category-1-1-tab" data-bs-toggle="tab"
                data-bs-target="#category-1-1-tab-pane" type="button" role="tab" aria-controls="category-1-1-tab-pane"
                aria-selected="true">History and<br>Culture</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="category-1-2-tab" data-bs-toggle="tab"
                data-bs-target="#category-1-2-tab-pane" type="button" role="tab" aria-controls="category-1-2-tab-pane"
                aria-selected="false">Language and<br>Literature</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="category-1-3-tab" data-bs-toggle="tab"
                data-bs-target="#category-1-3-tab-pane" type="button" role="tab" aria-controls="category-1-3-tab-pane"
                aria-selected="false">Malabar</button>
            </li>
          </ul>
          <a href="">view all</a>
        </div>
        <div class="category-main">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="category-1-1-tab-pane" role="tabpanel"
              aria-labelledby="category-1-1-tab" tabindex="0">
              <div class="category-itm-ctn">
                <div class="category-large-itm">
                  <a class="category-img-link" href="">
                    <img src="{{ article_history_and_culture_image.0 }}" alt="">
                  </a>
                  <div>
                    <h5>
                      <a href="">{{ article_history_and_culture_heading.0 }}</a>
                    </h5>
                    <span class="c-h-d">
                      <a href="" class="c-h-d-category"></a>
                      <span class="c-h-d-hyphen"></span>
                      <span class="c-h-d-date">{{ article_history_and_culture_publishing_date.0 }}</span>
                    </span>
                  </div>
                </div>
                <div class="category-small-itm-ctn">
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ article_history_and_culture_image.1 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="">{{ article_history_and_culture_heading.1 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen"></span>
                        <span class="c-h-d-date">{{ article_history_and_culture_publishing_date.1 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ article_history_and_culture_image.2 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="">{{ article_history_and_culture_heading.2 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen"></span>
                        <span class="c-h-d-date">{{ article_history_and_culture_publishing_date.2 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ article_history_and_culture_image.3 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="">{{ article_history_and_culture_heading.3 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen"></span>
                        <span class="c-h-d-date">{{ article_history_and_culture_publishing_date.3 }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="category-1-2-tab-pane" role="tabpanel" aria-labelledby="category-1-2-tab"
              tabindex="0">
              <div class="category-itm-ctn">
                <div class="category-large-itm">
                  <a class="category-img-link" href="article/{{ article_culture_id.0 }}">
                    <img src="{{ article_culture_image.0 }}" alt="">
                  </a>
                  <div>
                    <h5>
                      <a href="article/{{ article_culture_id.0 }}">{{ article_culture_heading.0 }}</a>
                    </h5>
                    <span class="c-h-d">
                      <a href="" class="c-h-d-category">{{ article_culture_sub_category.0 }}</a>
                      <span class="c-h-d-hyphen">-</span>
                      <span class="c-h-d-date">{{ article_culture_publishing_date.0 }}</span>
                    </span>
                  </div>
                </div>
                <div class="category-small-itm-ctn">
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{ article_culture_id.1 }}">
                      <img src="{{ article_culture_image.1 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ article_culture_id.1 }}">{{ article_culture_heading.1 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ article_culture_sub_category.1 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ article_culture_publishing_date.1 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{ article_culture_id.2 }}">
                      <img src="{{ article_culture_image.2 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ article_culture_id.2 }}">{{ article_culture_heading.2 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ article_culture_sub_category.2 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ article_culture_publishing_date.2 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{ article_culture_id.3 }}">
                      <img src="{{ article_culture_image.3 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ article_culture_id.3 }}">{{ article_culture_heading.3 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ article_culture_sub_category.3 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ article_culture_publishing_date.3 }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="category-1-3-tab-pane" role="tabpanel" aria-labelledby="category-1-3-tab"
              tabindex="0">
              <div class="category-itm-ctn">
                <div class="category-large-itm">
                  <a class="category-img-link" href="article/{{ article_society_id.0 }}">
                    <img src="{{ article_society_image.0 }}" alt="">
                  </a>
                  <div>
                    <h5>
                      <a href="article/{{ article_society_id.0 }}">{{ article_society_heading.0 }}</a>
                    </h5>
                    <span class="c-h-d">
                      <a href="" class="c-h-d-category">{{ article_society_sub_category.0 }}</a>
                      <span class="c-h-d-hyphen">-</span>
                      <span class="c-h-d-date">{{ article_society_publishing_date.0 }}</span>
                    </span>
                  </div>
                </div>
                <div class="category-small-itm-ctn">
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{ article_society_id.1 }}">
                      <img src="{{ article_society_image.1 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ article_society_id.1 }}">{{ article_society_heading.1 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ article_society_sub_category.1 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ article_society_publishing_date.1 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{ article_society_id.2 }}">
                      <img src="{{ article_society_image.2 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ article_society_id.2 }}">{{ article_society_heading.2 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ article_society_sub_category.2 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ article_society_publishing_date.2 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{ article_society_id.3 }}">
                      <img src="{{ article_society_image.3 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ article_society_id.3 }}">{{ article_society_heading.3 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ article_society_sub_category.3 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ article_society_publishing_date.3 }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="category-nav-ctn">
          <h3>Review</h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="category-2-1-tab" data-bs-toggle="tab"
                data-bs-target="#category-2-1-tab-pane" type="button" role="tab" aria-controls="category-2-1-tab-pane"
                aria-selected="true">Book</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="category-2-2-tab" data-bs-toggle="tab"
                data-bs-target="#category-2-2-tab-pane" type="button" role="tab" aria-controls="category-2-2-tab-pane"
                aria-selected="false">Documentary</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="category-2-3-tab" data-bs-toggle="tab"
                data-bs-target="#category-2-3-tab-pane" type="button" role="tab" aria-controls="category-2-3-tab-pane"
                aria-selected="false">Movie</button>
            </li>
          </ul>
          <a href="">view all</a>
        </div>
        <div class="category-main">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="category-2-1-tab-pane" role="tabpanel"
              aria-labelledby="category-2-1-tab" tabindex="0">
              <div class="category-itm-ctn">
                <div class="category-large-itm">
                  <a class="category-img-link" href="article/{{ review_book_id.0 }}">
                    <img src="{{ review_book_image.0 }}" alt="">
                  </a>
                  <div>
                    <h5>
                      <a href="article/{{ review_book_id.0 }}">{{ review_book_heading.0 }}</a>
                    </h5>
                    <span class="c-h-d">
                      <a href="" class="c-h-d-category">{{ review_book_sub_category.0 }}</a>
                      <span class="c-h-d-hyphen">-</span>
                      <span class="c-h-d-date">{{ review_book_publishing_date.0 }}</span>
                    </span>
                  </div>
                </div>
                <div class="category-small-itm-ctn">
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{ review_book_id.1 }}">
                      <img src="{{ review_book_image.1 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ review_book_id.1 }}">{{ review_book_heading.1 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ review_book_sub_category.1 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ review_book_publishing_date.1 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{review_book_id.2 }}">
                      <img src="{{ review_book_image.2 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ review_book_id.2 }}">{{ review_book_heading.2 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ review_book_sub_category.2 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ review_book_publishing_date.2 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="article/{{ review_book_id.3 }}">
                      <img src="{{ review_book_image.3 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="article/{{ review_book_id.3 }}">{{ review_book_heading.3 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">{{ review_book_sub_category.3 }}</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ review_book_publishing_date.3 }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="category-2-2-tab-pane" role="tabpanel" aria-labelledby="category-2-2-tab"
              tabindex="0">
              <div class="category-itm-ctn">
                <div class="category-large-itm">
                  <a class="category-img-link" href="">
                    <img src="" alt="">
                  </a>
                  <div>
                    <h5>
                      <a href=""></a>
                    </h5>
                    <span class="c-h-d">
                      <a href="" class="c-h-d-category"></a>
                      <span class="c-h-d-hyphen">-</span>
                      <span class="c-h-d-date"></span>
                    </span>
                  </div>
                </div>
                <div class="category-small-itm-ctn">
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href=""></a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date"></span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ article_religion_image.2 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href=""></a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date"></span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ article_religion_image.3 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href=""></a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="category-2-3-tab-pane" role="tabpanel" aria-labelledby="category-2-3-tab"
              tabindex="0">
              <div class="category-itm-ctn">
                <div class="category-large-itm">
                  <a class="category-img-link" href="">
                    <img src="" alt="">
                  </a>
                  <div>
                    <h5>
                      <a href=""></a>
                    </h5>
                    <span class="c-h-d">
                      <a href="" class="c-h-d-category"></a>
                      <span class="c-h-d-hyphen">-</span>
                      <span class="c-h-d-date"></span>
                    </span>
                  </div>
                </div>
                <div class="category-small-itm-ctn">
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href=""></a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date"></span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ article_religion_image.2 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href=""></a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date"></span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ article_religion_image.3 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href=""></a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category"></a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="category-nav-ctn">
          <h3>Series</h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="category-3-1-tab" data-bs-toggle="tab"
                data-bs-target="#category-3-1-tab-pane" type="button" role="tab" aria-controls="category-3-1-tab-pane"
                aria-selected="true">Series 1</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="category-3-2-tab" data-bs-toggle="tab"
                data-bs-target="#category-3-2-tab-pane" type="button" role="tab" aria-controls="category-3-2-tab-pane"
                aria-selected="false">Series 2</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="category-3-3-tab" data-bs-toggle="tab"
                data-bs-target="#category-3-3-tab-pane" type="button" role="tab" aria-controls="category-3-3-tab-pane"
                aria-selected="false">Series 3</button>
            </li>
          </ul>
          <a href="">view all</a>
        </div>
        <div class="category-main">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="category-3-1-tab-pane" role="tabpanel"
              aria-labelledby="category-3-1-tab" tabindex="0">
              <div>
                <div class="category-itm-ctn">
                  <div class="category-large-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ series_1_image.0 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="">{{ series_1_heading.0 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">Category</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ series_1_publishing_date.0 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm-ctn">
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_1_image.1 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_1_heading.1 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_1_publishing_date.1 }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_1_image.2 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_1_heading.2 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_1_publishing_date.2 }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_1_image.3 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_1_heading.3 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_1_publishing_date.3 }}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="category-3-2-tab-pane" role="tabpanel" aria-labelledby="category-3-2-tab"
              tabindex="0">
              <div>
                <div class="category-itm-ctn">
                  <div class="category-large-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ series_2_image.0 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="">{{ series_2_heading.0 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">Category</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ series_2_publishing_date.0 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm-ctn">
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_2_image.1 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_2_heading.1 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_2_publishing_date.1 }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_2_image.2 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_2_heading.2 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_2_publishing_date.2 }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_2_image.3 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_2_heading.3 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_2_publishing_date.3 }}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="category-3-3-tab-pane" role="tabpanel" aria-labelledby="category-3-3-tab"
              tabindex="0">
              <div>
                <div class="category-itm-ctn">
                  <div class="category-large-itm">
                    <a class="category-img-link" href="">
                      <img src="{{ series_3_image.0 }}" alt="">
                    </a>
                    <div>
                      <h5>
                        <a href="">{{ series_3_heading.0 }}</a>
                      </h5>
                      <span class="c-h-d">
                        <a href="" class="c-h-d-category">Category</a>
                        <span class="c-h-d-hyphen">-</span>
                        <span class="c-h-d-date">{{ series_3_publishing_date.0 }}</span>
                      </span>
                    </div>
                  </div>
                  <div class="category-small-itm-ctn">
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_3_image.1 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_3_heading.1 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_3_publishing_date.1 }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_3_image.2 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_3_heading.2 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_3_publishing_date.2 }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="category-small-itm">
                      <a class="category-img-link" href="">
                        <img src="{{ series_3_image.3 }}" alt="">
                      </a>
                      <div>
                        <h5>
                          <a href="">{{ series_3_heading.3 }}</a>
                        </h5>
                        <span class="c-h-d">
                          <a href="" class="c-h-d-category">Category</a>
                          <span class="c-h-d-hyphen">-</span>
                          <span class="c-h-d-date">{{ series_3_publishing_date.3 }}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="category-side-ctn">
      <div>
        <div>
          <div class="popular-head-ctn">
            <h3 class="popular-head">Popular Article</h3>
          </div>
          <ul class="popular-items">
            <li class="popular-items-li">
              <div>1</div>
              <a href="">Lorem ipsum, dolm, dolor</a>
            </li>
            <li class="popular-items-li">
              <div>1</div>
              <a href="">Lorem ipsum, dolm, dolor</a>
            </li>
            <li class="popular-items-li">
              <div>1</div>
              <a href="">Lorem ipsum, dolm, dolor</a>
            </li>
            <li class="popular-items-li">
              <div>1</div>
              <a href="">Lorem ipsum, dolm, dolor</a>
            </li>
            <li class="popular-items-li">
              <div>1</div>
              <a href="">Lorem ipsum, dolm, dolor</a>
            </li>
          </ul>
        </div>
        <div class="side-ads">
          <a href="">
            <img class="side-ads-img" src="{% static 'img/A.jpg' %}" alt="">
          </a>
        </div>
        <div class="side-social-ctn">
          <div class="side-social-head">
            <h3>Social</h3>
          </div>
          <ul class="side-social-ul">
            <li class="side-social-li">
              <a href="">
                <i class="fa-brands fa-square-facebook"></i>
              </a>
              <div class="side-social-count">
                <span>1.4k Likes</span>
                <a href="">LIKE</a>
              </div>
            </li>
            <li class="side-social-li">
              <a href="">
                <i class="fa-brands fa-square-instagram"></i>
              </a>
              <div class="side-social-count">
                <span>1.4k Followers</span>
                <a href="">FollOW</a>
              </div>
            </li>
            <li class="side-social-li">
              <a href="">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <div class="side-social-count">
                <span>1.4k Followers</span>
                <a href="">FOLLOW</a>
              </div>
            </li>
            <li class="side-social-li">
              <a href="">
                <i class="fa-brands fa-medium"></i>
              </a>
              <div class="side-social-count">
                <span>1.4k Subscribers</span>
                <a href="">SUBSCRIBE</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="latest">
  <div class="ctn">
    <div class="latest-ctn">
      <div class="latest-main-ctn">
        <div class="latest-main-head">
          <h3>Latest</h3>
        </div>
        <div class="latest-items-ctn">
          <div class="latest-items">
            <div class="latest-item-box">
              <a href="">
                <img src="{{ latest_image.0 }}" alt="">
              </a>
              <div>
                <h5>{{ latest_heading.0 }}</h5>
                <span class="c-h-d">
                  <a href="" class="c-h-d-category">Category</a>
                  <span class="c-h-d-hyphen">-</span>
                  <span class="c-h-d-date">00/00/0000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="latest-items">
            <div class="latest-item-box">
              <a href="">
                <img src="{{ latest_image.1 }}" alt="">
              </a>
              <div>
                <h5>{{ latest_heading.1 }}</h5>
                <span class="c-h-d">
                  <a href="" class="c-h-d-category">Category</a>
                  <span class="c-h-d-hyphen">-</span>
                  <span class="c-h-d-date">00/00/0000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="latest-items">
            <div class="latest-item-box">
              <a href="">
                <img src="{{ latest_image.2 }}" alt="">
              </a>
              <div>
                <h5>{{ latest_heading.2 }}</h5>
                <span class="c-h-d">
                  <a href="" class="c-h-d-category">Category</a>
                  <span class="c-h-d-hyphen">-</span>
                  <span class="c-h-d-date">00/00/0000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="latest-items">
            <div class="latest-item-box">
              <a href="">
                <img src="{{ latest_image.3 }}" alt="">
              </a>
              <div>
                <h5>{{ latest_heading.3 }}</h5>
                <span class="c-h-d">
                  <a href="" class="c-h-d-category">Category</a>
                  <span class="c-h-d-hyphen">-</span>
                  <span class="c-h-d-date">00/00/0000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="latest-items">
            <div class="latest-item-box">
              <a href="">
                <img src="{{ latest_image.4 }}" alt="">
              </a>
              <div>
                <h5>{{ latest_heading.4 }}</h5>
                <span class="c-h-d">
                  <a href="" class="c-h-d-category">Category</a>
                  <span class="c-h-d-hyphen">-</span>
                  <span class="c-h-d-date">00/00/0000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="latest-items">
            <div class="latest-item-box">
              <a href="">
                <img src="{{ latest_image.5 }}" alt="">
              </a>
              <div>
                <h5>{{ latest_heading.5 }}</h5>
                <span class="c-h-d">
                  <a href="" class="c-h-d-category">Category</a>
                  <span class="c-h-d-hyphen">-</span>
                  <span class="c-h-d-date">00/00/0000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="latest-items">
            <div class="latest-item-box">
              <a href="">
                <img src="{{ latest_image.6 }}" alt="">
              </a>
              <div>
                <h5>{{ latest_heading.6 }}</h5>
                <span class="c-h-d">
                  <a href="" class="c-h-d-category">Category</a>
                  <span class="c-h-d-hyphen">-</span>
                  <span class="c-h-d-date">00/00/0000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="latest-items">
            <div class="latest-item-box">
              <a href="">
                <img src="{{ latest_image.7 }}" alt="">
              </a>
              <div>
                <h5>{{ latest_heading.7 }}</h5>
                <span class="c-h-d">
                  <a href="" class="c-h-d-category">Category</a>
                  <span class="c-h-d-hyphen">-</span>
                  <span class="c-h-d-date">00/00/0000</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="latest-side-ctn"></div>
    </div>
  </div>
</section>
{% endblock content %}