{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7PTWBN4RB1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7PTWBN4RB1');
</script>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
  content="Explore a diverse tapestry of campus perspectives at [Your Website Name], where students share insightful articles, opinion pieces, news stories, essays, and historical narratives in Malayalam, English, Arabic, and Urdu. Immerse yourself in a multilingual journey through the vibrant narratives of our campus community, offering a rich blend of cultural perspectives and thought-provoking content.">
<title>The Campus Jouornal</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
<!-- Our project just needs Font Awesome Free's Solid and Brand files -->
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<!-- Our project just needs Font Awesome Free's Solid and Brand files -->
<script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
<script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
<script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
<!-- One file includes all the Font Awesome Free icons and utilities -->
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
<!-- One file includes all the Font Awesome Free icons and utilities -->
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/master.css' %}" />
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/media.css' %}" />
<link rel="stylesheet" href="{% static 'css/single_writing.css' %}" />
<link rel="stylesheet" href="{% static 'css/media700px.css' %}" />
<link rel="stylesheet" href="{% static 'css/category.css' %}" />

{% comment %} fonts and icons {% endcomment %}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'fonts/NotoSansMalayalam-VariableFont_wdth,wght.ttf' %}">
</head>

<body>
  <header class="section-top-head">
    <div class="top-head">
      <p id="date-time-now"></p>
      <div class="header-social-links">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </header>
  <section>
    <div class="container-main-head">
      <div class="main-head"><a href="https://thecampusjournal.in/"><img src="{% static 'img/thecampusjournalin.png' %}" alt="thecampusjournal.in"></a>
        {% comment %} <h1>
          THE CAMPUS <span>JOURNAL</span>
        </h1> {% endcomment %}
      </div>
    </div>
  </section>
  <section class="section-nav-bar">
    <div>
      <nav>  
        <ul class="nav-main-menu-ul">
          <li class="main-menu-item">
            <a href="https://thecampusjournal.in/" >Home</a>
          </li>
          <li class="main-menu-item">
            <a href="" class="nav-trigger-2">General<span class="material-symbols-outlined">
                arrow_drop_down
              </span></a>
            <div class="nav-sub-menu nav-hide-2">
              <div class="nav-sub-items">
                <a href="" class="nav-sub-item nav-trigger-2" >International</a>
                <a href="" class="nav-sub-item nav-trigger-2" >Politics</a>
                <a href="" class="nav-sub-item nav-trigger-2" >Soceity and Culture</a>
                <a href="" class="nav-sub-item nav-trigger-2" >History</a>
                <a href="" class="nav-sub-item nav-trigger-2" >Language and Literature</a>
              </div>
              <div class="nav-sub-contents">
                <div class="nav-sub-content-item  nav-content-2" id="cat-1-1-content">

                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_history_and_culture_image.0 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_history_and_culture_heading.0 }}</h5>
                          <span>{{ article_history_and_culture_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_history_and_culture_image.1 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_history_and_culture_heading.1 }}</h5>
                          <span>{{ article_history_and_culture_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_history_and_culture_image.2 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_history_and_culture_heading.2 }}</h5>
                          <span>{{ article_history_and_culture_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_history_and_culture_image.3 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_history_and_culture_heading.3 }}</h5>
                          <span>{{ article_history_and_culture_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-2" id="cat-1-2-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_language_and_literature_image.0 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_language_and_literature_heading.0 }}</h5>
                          <span>{{ article_language_and_literature_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_language_and_literature_image.1 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_language_and_literature_heading.1 }}</h5>
                          <span>{{ article_language_and_literature_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_language_and_literature_image.2 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_language_and_literature_heading.2 }}</h5>
                          <span>{{ article_language_and_literature_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_language_and_literature_image.3 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_language_and_literature_heading.3 }}</h5>
                          <span>{{ article_language_and_literature_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-2" id="cat-1-3-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_women_and_gender_image.0 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_women_and_gender_heading.0 }}</h5>
                          <span>{{ article_women_and_gender_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_women_and_gender_image.1 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_women_and_gender_heading.1 }}</h5>
                          <span>{{ article_women_and_gender_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_women_and_gender_image.2 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_women_and_gender_heading.2 }}</h5>
                          <span>{{ article_women_and_gender_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_women_and_gender_image.3 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_women_and_gender_heading.3 }}</h5>
                          <span>{{ article_women_and_gender_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-2" id="cat-1-4-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_malabar_image.0 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_malabar_heading.0 }}</h5>
                          <span>{{ article_malabar_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_malabar_image.1 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_malabar_heading.1 }}</h5>
                          <span>{{ article_malabar_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_malabar_image.2 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_malabar_heading.2 }}</h5>
                          <span>{{ article_malabar_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_malabar_image.3 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_malabar_heading.3 }}</h5>
                          <span>{{ article_malabar_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-2" id="cat-1-5-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_art_and_aesthetic_image.0 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_art_and_aesthetic_heading.0 }}</h5>
                          <span>{{ article_art_and_aesthetic_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_art_and_aesthetic_image.1 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_art_and_aesthetic_heading.1 }}</h5>
                          <span>{{ article_art_and_aesthetic_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_art_and_aesthetic_image.2 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_art_and_aesthetic_heading.2 }}</h5>
                          <span>{{ article_art_and_aesthetic_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_art_and_aesthetic_image.3 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_art_and_aesthetic_heading.3 }}</h5>
                          <span>{{ article_art_and_aesthetic_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-2" id="cat-1-6-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_politics_image.0 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_politics_heading.0 }}</h5>
                          <span>{{ article_politics_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_politics_image.1 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_politics_heading.1 }}</h5>
                          <span>{{ article_politics_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_politics_image.2 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_politics_heading.2 }}</h5>
                          <span>{{ article_politics_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_politics_image.3 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_politics_heading.3 }}</h5>
                          <span>{{ article_politics_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-2" id="cat-1-7-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_international_image.0 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_international_heading.0 }}</h5>
                          <span>{{ article_international_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_international_image.1 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_international_heading.1 }}</h5>
                          <span>{{ article_international_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_international_image.2 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_international_heading.2 }}</h5>
                          <span>{{ article_international_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ article_international_image.3 }}" alt="jj">
                        </a>
                        <div>
                          <h5>{{ article_international_heading.3 }}</h5>
                          <span>{{ article_international_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <a href="" class="nav-trigger-4">Islamic<br>Studies<span class="material-symbols-outlined">
              arrow_drop_down
            </span></a>
            <div class="nav-sub-menu nav-hide-4">
              <div class="nav-sub-items">
                <a href="" class="nav-sub-item nav-trigger-1" id="cat-1-1-link">Quran and Hadith</a>
                <a href="" class="nav-sub-item nav-trigger-1" id="cat-1-2-link">Theology ad Phylosophy</a>
                <a href="" class="nav-sub-item nav-trigger-1" id="cat-1-3-link">Islamic Jurispredence</a>
                <a href="" class="nav-sub-item nav-trigger-1" id="cat-1-4-link">Islamic History</a>
              </div>
              <div class="nav-sub-contents">
                <div class="nav-sub-content-item  nav-content-1" id="cat-1-1-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_quran_image.0 }}" alt="{{ islamic_quran_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_quran_heading.0 }}</h5>
                          <span>{{ islamic_quran_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_quran_image.0 }}" alt="{{ islamic_quran_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_quran_heading.0 }}</h5>
                          <span>{{ islamic_quran_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_quran_image.0 }}" alt="{{ islamic_quran_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_quran_heading.0 }}</h5>
                          <span>{{ islamic_quran_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_quran_image.0 }}" alt="{{ islamic_quran_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_quran_heading.0 }}</h5>
                          <span>{{ islamic_quran_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-1" id="cat-1-2-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_hadees_image.0 }}" alt="{{ islamic_hadees_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_hadees_heading.0 }}</h5>
                          <span>{{ islamic_hadees_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_hadees_image.0 }}" alt="{{ islamic_hadees_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_hadees_heading.0 }}</h5>
                          <span>{{ islamic_hadees_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_hadees_image.0 }}" alt="{{ islamic_hadees_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_hadees_heading.0 }}</h5>
                          <span>{{ islamic_hadees_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_hadees_image.0 }}" alt="{{ islamic_hadees_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_hadees_heading.0 }}</h5>
                          <span>{{ islamic_hadees_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-1" id="cat-1-3-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_theology_image.0 }}" alt="{{ islamic_theology_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_theology_heading.0 }}</h5>
                          <span>{{ islamic_theology_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_theology_image.0 }}" alt="{{ islamic_theology_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_theology_heading.0 }}</h5>
                          <span>{{ islamic_theology_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_theology_image.0 }}" alt="{{ islamic_theology_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_theology_heading.0 }}</h5>
                          <span>{{ islamic_theology_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_theology_image.0 }}" alt="{{ islamic_theology_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_theology_heading.0 }}</h5>
                          <span>{{ islamic_theology_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-1" id="cat-1-4-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_fiqh_image.0 }}" alt="{{ islamic_fiqh_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_fiqh_heading.0 }}</h5>
                          <span>{{ islamic_fiqh_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_fiqh_image.0 }}" alt="{{ islamic_fiqh_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_fiqh_heading.0 }}</h5>
                          <span>{{ islamic_fiqh_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_fiqh_image.0 }}" alt="{{ islamic_fiqh_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_fiqh_heading.0 }}</h5>
                          <span>{{ islamic_fiqh_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_fiqh_image.0 }}" alt="{{ islamic_fiqh_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_fiqh_heading.0 }}</h5>
                          <span>{{ islamic_fiqh_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-1" id="cat-1-5-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_family_image.0 }}" alt="{{ islamic_family_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_family_heading.0 }}</h5>
                          <span>{{ islamic_family_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_family_image.0 }}" alt="{{ islamic_family_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_family_heading.0 }}</h5>
                          <span>{{ islamic_family_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_family_image.0 }}" alt="{{ islamic_family_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_family_heading.0 }}</h5>
                          <span>{{ islamic_family_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ islamic_family_image.0 }}" alt="{{ islamic_family_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ islamic_family_heading.0 }}</h5>
                          <span>{{ islamic_family_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
         
          <li class="main-menu-item">
            <a href="" class="nav-trigger-3">Review<span class="material-symbols-outlined">
              arrow_drop_down
            </span></a>
            <div class="nav-sub-menu nav-hide-3">
              <div class="nav-sub-items">
                <a href="" class="nav-sub-item nav-trigger-3" id="cat-1-1-link">Book</a>
                <a href="" class="nav-sub-item nav-trigger-3" id="cat-1-2-link">Documentry</a>
                <a href="" class="nav-sub-item nav-trigger-3" id="cat-1-3-link">Movie</a>
              </div>
              <div class="nav-sub-contents">
                <div class="nav-sub-content-item  nav-content-3" id="cat-1-1-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_book_image.0 }}" alt="{{ review_book_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ review_book_heading.0 }}</h5>
                          <span>{{ review_book_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_book_image.1 }}" alt="{{ review_book_heading.1 }}">
                        </a>
                        <div>
                          <h5>{{ review_book_heading.1 }}</h5>
                          <span>{{ review_book_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_book_image.2 }}" alt="{{ review_book_heading.2 }}">
                        </a>
                        <div>
                          <h5>{{ review_book_heading.2 }}</h5>
                          <span>{{ review_book_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_book_image.3 }}" alt="{{ review_book_heading.3 }}">
                        </a>
                        <div>
                          <h5>{{ review_book_heading.3 }}</h5>
                          <span>{{ review_book_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-3" id="cat-1-2-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_documentary_image.0 }}" alt="{{ review_documentary_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ review_documentary_heading.0 }}</h5>
                          <span>{{ review_documentary_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_documentary_image.1 }}" alt="{{ review_documentary_heading.1 }}">
                        </a>
                        <div>
                          <h5>{{ review_documentary_heading.1 }}</h5>
                          <span>{{ review_documentary_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_documentary_image.2 }}" alt="{{ review_documentary_heading.2 }}">
                        </a>
                        <div>
                          <h5>{{ review_documentary_heading.2 }}</h5>
                          <span>{{ review_documentary_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_documentary_image.3 }}" alt="{{ review_documentary_heading.3 }}">
                        </a>
                        <div>
                          <h5>{{ review_documentary_heading.3 }}</h5>
                          <span>{{ review_documentary_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-3" id="cat-1-3-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_movie_image.0 }}" alt="{{ review_movie_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ review_movie_heading.0 }}</h5>
                          <span>{{ review_movie_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_movie_image.1 }}" alt="{{ review_movie_heading.1 }}">
                        </a>
                        <div>
                          <h5>{{ review_movie_heading.1 }}</h5>
                          <span>{{ review_movie_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_movie_image.2 }}" alt="{{ review_movie_heading.2 }}">
                        </a>
                        <div>
                          <h5>{{ review_movie_heading.2 }}</h5>
                          <span>{{ review_movie_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ review_movie_image.3 }}" alt="{{ review_movie_heading.3 }}">
                        </a>
                        <div>
                          <h5>{{ review_movie_heading.3 }}</h5>
                          <span>{{ review_movie_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <a href="" class="nav-trigger-5">Series<span class="material-symbols-outlined">
              arrow_drop_down
            </span></a>
            <div class="nav-sub-menu nav-hide-5">
              <div class="nav-sub-items">
                <a href="" class="nav-sub-item nav-trigger-4" id="cat-1-1-link">Series</a>
              </div>
              <div class="nav-sub-contents">
                <div class="nav-sub-content-item  nav-content-4" id="cat-1-1-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_1_image.0 }}" alt="{{ series_1_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ series_1_heading.0 }}</h5>
                          <span>{{ series_1_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_1_image.1 }}" alt="{{ series_1_heading.1 }}">
                        </a>
                        <div>
                          <h5>{{ series_1_heading.1 }}</h5>
                          <span>{{ series_1_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_1_image.2 }}" alt="{{ series_1_heading.2 }}">
                        </a>
                        <div>
                          <h5>{{ series_1_heading.2 }}</h5>
                          <span>{{ series_1_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_1_image.3 }}" alt="{{ series_1_heading.3 }}">
                        </a>
                        <div>
                          <h5>{{ series_1_heading.3 }}</h5>
                          <span>{{ series_1_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-4" id="cat-1-2-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_2_image.0 }}" alt="{{ series_2_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ series_2_heading.0 }}</h5>
                          <span>{{ series_2_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_2_image.1 }}" alt="{{ series_2_heading.1 }}">
                        </a>
                        <div>
                          <h5>{{ series_2_heading.1 }}</h5>
                          <span>{{ series_2_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_2_image.2 }}" alt="{{ series_2_heading.2 }}">
                        </a>
                        <div>
                          <h5>{{ series_2_heading.2 }}</h5>
                          <span>{{ series_2_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_2_image.3 }}" alt="{{ series_2_heading.3 }}">
                        </a>
                        <div>
                          <h5>{{ series_2_heading.3 }}</h5>
                          <span>{{ series_2_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-4" id="cat-1-3-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_3_image.0 }}" alt="{{ series_3_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ series_3_heading.0 }}</h5>
                          <span>{{ series_3_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_3_image.1 }}" alt="{{ series_3_heading.1 }}">
                        </a>
                        <div>
                          <h5>{{ series_3_heading.1 }}</h5>
                          <span>{{ series_3_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_3_image.2 }}" alt="{{ series_3_heading.2 }}">
                        </a>
                        <div>
                          <h5>{{ series_3_heading.2 }}</h5>
                          <span>{{ series_3_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_3_image.3 }}" alt="{{ series_3_heading.3 }}">
                        </a>
                        <div>
                          <h5>{{ series_3_heading.3 }}</h5>
                          <span>{{ series_3_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-4" id="cat-1-4-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_4_image.0 }}" alt="{{ series_4_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ series_4_heading.0 }}</h5>
                          <span>{{ series_4_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_4_image.1 }}" alt="{{ series_4_heading.1 }}">
                        </a>
                        <div>
                          <h5>{{ series_4_heading.1 }}</h5>
                          <span>{{ series_4_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_4_image.2 }}" alt="{{ series_4_heading.2 }}">
                        </a>
                        <div>
                          <h5>{{ series_4_heading.2 }}</h5>
                          <span>{{ series_4_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_4_image.3 }}" alt="{{ series_4_heading.3 }}">
                        </a>
                        <div>
                          <h5>{{ series_4_heading.3 }}</h5>
                          <span>{{ series_4_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nav-sub-content-item nav-hidden nav-content-4" id="cat-1-5-content">
                  <div class="n-s-content-item-ctn">
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_translation_image.0 }}" alt="{{ series_translation_heading.0 }}">
                        </a>
                        <div>
                          <h5>{{ series_translation_heading.0 }}</h5>
                          <span>{{ series_translation_publishing_date.0 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_translation_image.1 }}" alt="{{ series_translation_heading.1 }}">
                        </a>
                        <div>
                          <h5>{{ series_translation_heading.1 }}</h5>
                          <span>{{ series_translation_publishing_date.1 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_translation_image.2 }}" alt="{{ series_translation_heading.2 }}">
                        </a>
                        <div>
                          <h5>{{ series_translation_heading.2 }}</h5>
                          <span>{{ series_translation_publishing_date.2 }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="n-s-content-item-box">
                      <div>
                        <a href="" class="n-s-content-item-img-link">
                          <img src="{{ series_translation_image.3 }}" alt="{{ series_translation_heading.3 }}">
                        </a>
                        <div>
                          <h5>{{ series_translation_heading.3 }}</h5>
                          <span>{{ series_translation_publishing_date.3 }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <a href="" >Interview</a>
          </li>
          <li class="main-menu-item">
            <a href="" >About us</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  {% block content %}
  {% endblock content %}
  <section class="footer">
    <div class="footer-container">
      <div class="footer-social-links">
        <h4>follow us</h4>
        <div>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p>Copyright © 2023 All rights reserved | Powered by [ ]</p>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script>
    // Function to update the displayed date and time
    function updateDateTime() {
      var currentDate = new Date();
      var dateOptions = { year: 'numeric', month: 'short', day: 'numeric' };
      var timeOptions = { hour: '2-digit', minute: '2-digit', hour12: true };

      var formattedDate = currentDate.toLocaleDateString(undefined, dateOptions);
      var formattedTime = currentDate.toLocaleTimeString(undefined, timeOptions);

      document.getElementById("date-time-now").innerHTML = formattedDate + " " + formattedTime;
    }

    // Update the date and time immediately
    updateDateTime();

    // Update the date and time every second (10000 milliseconds)
    setInterval(updateDateTime, 10000);

    //navigation hover hide/show function

    const nav_trigger_1 = document.querySelectorAll('.nav-trigger-1');
    const nav_content_1 = document.querySelectorAll('.nav-content-1');

    nav_trigger_1.forEach((trigger, index) => {
      trigger.addEventListener('mouseenter', () => {
        nav_content_1.forEach((content) => {
          content.classList.add('nav-hidden');
        });
        nav_content_1[index].classList.remove('nav-hidden');
      });
    });

    const nav_trigger_2 = document.querySelectorAll('.nav-trigger-2');
    const nav_content_2 = document.querySelectorAll('.nav-content-2');

    nav_trigger_2.forEach((trigger, index) => {
      trigger.addEventListener('mouseenter', () => {
        nav_content_2.forEach((content) => {
          content.classList.add('nav-hidden');
        });
        nav_content_2[index-1].classList.remove('nav-hidden');
      });
    });

    const nav_trigger_3 = document.querySelectorAll('.nav-trigger-3');
    const nav_content_3 = document.querySelectorAll('.nav-content-3');

    nav_trigger_3.forEach((trigger, index) => {
      trigger.addEventListener('mouseenter', () => {
        nav_content_3.forEach((content) => {
          content.classList.add('nav-hidden');
        });
        nav_content_3[index-1].classList.remove('nav-hidden');
      });
    });


    const nav_trigger_4 = document.querySelectorAll('.nav-trigger-4');
    const nav_content_4 = document.querySelectorAll('.nav-content-4');

    nav_trigger_4.forEach((trigger, index) => {
      trigger.addEventListener('mouseenter', () => {
        nav_content_4.forEach((content) => {
          content.classList.add('nav-hidden');
        });
        nav_content_4[index-1].classList.remove('nav-hidden');
      });
    });

  </script>
</body>

</html>