{% extends "master.html" %}
{% load static %}
{% block content %}
  <section class="single_writing">
    <div class="ctn">
      <div class="single_writing_ctn">
        <div class="single_writing_main_ctn">
          <div class="single_writing_main">
            <div class="single_writing_content_ctn">
              <a href="">category</a>
              <h3>{{ single_write.heading }}</h3>
              <div class="single_writing_writer_date">
                <span>
                  By
                  <a href="">Author Me</a>
                  &nbsp; &nbsp; 01-Jan-07
                </span>
              </div>
              <div class="single_writing_img">
                <img src="{{ single_write.image.url }}" alt="">
              </div>
              <p>{{ single_write.body| safe }}</p>
              <div class="share_to_social">
                <span>Share:</span>
                <div class="share_social_button">
                  <a href="" class="wa_btn_bg">
                    <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
                    whatsapp
                  </a>
                  <a href="" class="fb_btn_bg">
                    <i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
                    facebook
                  </a>
                  <a href="" class="insta_btn_bg">
                    <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                    instagram
                  </a>
                  <a href="" class="x_btn_bg">
                    <i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i>
                    twitter
                  </a>
                  <a href="" class="te_btn_bg">
                    <i class="fa-brands fa-telegram" style="color: #ffffff;"></i>
                    telegram
                  </a>
                  
                </div>
              </div>
            </div>
            <div class="single_writing_comment_ctn"></div>
          </div>
        </div>
        <div class="single_writing_side_ctn"></div>
      </div>
    </div>
  </section>
{% endblock content %}
