p.sub-head-1 {
  font-weight: 500;
  font-size: 26px;
}
p.sub-head-2 {
  font-weight: 500;
  font-size: 24px;
}
p.sub-head-3 {
  font-weight: 500;
  font-size: 20px;
}
p.para {
  text-indent: 50px;
}

div.poem {
  display: flex;
  width: max-content;
}

div.poem-column {
  flex: 50%;
  margin-left: 20px;
  margin-right: auto;
}
