section.single_writing {
  background-color: #fff;
  padding-bottom: 140px;
  padding-top: 10px;
}

.single_writing_ctn {
  justify-content: center !important;
  display: flex;
  flex-wrap: wrap;
}

.single_writing_main_ctn {
  padding-bottom: 30px;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  border-left: solid 1px #2222;
  border-right: solid 1px #2222;
  box-shadow: 0 2px 5px 0 rgba(0, 1, 1, 0.1);
}

.single_writing_content_ctn > div {
  padding: 0 70px 70px 70px;
}

.single_writing_content_ctn > a {
  font-family: "Manjari", sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #222;
}

.single_writing_content_ctn > div > h3 {
  font-family: "Manjari", sans-serif;
  font-size: 30px;
  line-height: 1.3;
  color: #222;
  padding-bottom: 16px;
  padding-top: 33px;
  font-weight: 600;
}

.single_writing_writer_date {
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  padding-bottom: 40px;
}

.single_writing_writer_date > span {
  font-family: "Manjari", sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #888;
  margin-right: 15px;
}

.single_writing_writer_date a {
  font-family: "Manjari", sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #888;
}

div.single_writing_img {
  display: block;
  padding: 30px 0;
  width: 100%;
}

.single_writing_img > img {
  width: 100%;
  height: auto;
}

.single_writing_content_ctn > div > p {
  font-family: "Manjari", sans-serif;
  margin: 0 0 24px 0;
  color: #555;
  /* font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  margin-top: 0px;
  margin-bottom: 1rem;
  word-wrap: break-word; */
}

.share_to_social {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}

.share_to_social > span {
  font-family: "Manjari", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #555;
  margin-right: 15px;
  padding-top: 1px;
}

.share_social_button {
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
}

.share_social_button > a {
  font-family: "Manjari", sans-serif;
  font-size: 13px;
  line-height: 1.7;
  color: #fff;
  display: block;
  margin-right: 3px;
  margin-bottom: 3px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 3px;
}

.wa_btn_bg {
  background-color: rgb(79 203 94);
}
.fb_btn_bg {
  background-color: #3b5998;
}
.insta_btn_bg {
  background-color: #ff0000;
}
.te_btn_bg {
  background-color: rgb(8 177 238);
}
.x_btn_bg {
  background-color: rgb(8 8 8);
}

.single_writing_side_ctn {
  padding-bottom: 30px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 768px) {
  .single_writing_content_ctn > div {
    padding: 0 70px 18px 18px;
  }
}
