@media (min-width: 576px) {
  .ctn {
    max-width: 540px;
  }
  .bg-img-3,
  .bg-img-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @media (min-width: 768px) {
    .ctn {
      max-width: 720px;
    }
    .bg-img-1-ctn {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .bg-img-2-4-ctn {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (min-width: 992px) {
    .ctn {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .ctn {
      max-width: 1140px;
    }
  }

  .ctn {
    max-width: 1080px;
  }
}

/* -------------------------------------------------- */

/* ------------------------------------------ */
@media (max-width: 768px) {
  .section-nav-bar {
    display: none;
  }
  .single_writing_main_ctn {
    min-width: 220px;
  }

  .category-itm-ctn {
    flex-direction: column;
  }
  .category-large-itm {
    max-width: 100%;
  }
  .category-small-itm {
    flex-direction: column;
  }
  .category-small-itm > a {
    width: 100%;
  }
  .category-small-itm-ctn {
    max-width: 100%;
  }
  .category-main-ctn {
    max-width: 100%;
  }
  .single_writing_content_ctn > p {
    line-height: 28px;
    font-size: 16px;
  }
  .category-section-ctn {
    flex-direction: column;
  }
  .category-side-ctn {
    max-width: 100%;
  }
  .latest-ctn {
    flex-direction: column;
  }
  .latest-main-ctn {
    max-width: 100%;
  }
  .bg-img-1 {
    height: auto;
  }
  .bg-img-1 img {
    height: auto;
  }
  .top-head {
    padding: 0 24px;
  }
  .latest-heading {
    font-size: 24px;
  }
  /* heading */
  .category-large-itm h5 > a {
    font-weight: 600;
    font-size: 18px;
  }
  .category-small-itm h5 > a {
    font-weight: 600;
    font-size: 18px;
  }
  .category-small-itm > div {
    width: 100%;
  }
  .category-nav-ctn > ul {
    max-width: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
}
